<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <p>I hope it works</p>
        <h1>Spray and Pray</h1>
        <input type='text' id="tname" name="tname" value="Write the name of the task"/><br>
        <input type='text' id="tdiscription" name="tdiscription" value="Write the name of the task"/><br>
        <button class="btn btn-primary" (click)="onEnter()">Print in console</button>
    </form>
</body>
</html>